*.o
*.cm[oxti]
_build
.typerex
*.annot
*.a
*.cmxa
*.cma
*~
*.kate-swp
moc_*.cpp
*.swp
*.so
.depend
main.opt
*.backup
*.log
# generated graphviz files
outgraph.dot
*.dot
*.png
for_test5.xml
#tests
test_gen/test6/UserSlots.cpp
test_gen/test6/UserSlots.h
test_gen/test6/UserSlots_stubs.ml
test_gen/test6/moc_UserSlots.cpp
test_gen/test6/test
*.creator.user
# tool for generating OCaml code from ui forms
uictool

