camlcode.o.startup.s
mocml
main
test
# C++
.moc
.pch
.obj
#folderlistmodel stuff
Qt/
folderlistmodel/libqmlfolderlistmodelplugin.prl
folderlistmodel/libqmlfolderlistmodelplugin.so*

Controller.ml
Controller_c.cpp
Controller_c.h

