camlcode.o.startup.s
mocml
main
test
# C++
.moc
.pch
.obj
#folderlistmodel stuff
Qt/
folderlistmodel/libqmlfolderlistmodelplugin.prl
folderlistmodel/libqmlfolderlistmodelplugin.so*

abstractModel_c.c
abstractModel.h
controller.h
controller_c.c
dataItem_c.c
dataItem.h
ppx_qt
moc_*.c
